<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="devExpress">
      <section name="themes" type="DevExpress.Web.ASPxClasses.ThemesConfigurationSection, DevExpress.Web.v13.2" requirePermission="false"/>
      <section name="compression" type="DevExpress.Web.ASPxClasses.CompressionConfigurationSection, DevExpress.Web.v13.2" requirePermission="false"/>
      <section name="settings" type="DevExpress.Web.ASPxClasses.SettingsConfigurationSection, DevExpress.Web.v13.2" requirePermission="false"/>
      <section name="errors" type="DevExpress.Web.ASPxClasses.ErrorsConfigurationSection, DevExpress.Web.v13.2" requirePermission="false"/>
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah"/>
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah"/>
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah"/>
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="OimsConString" connectionString="server=127.0.0.1;database=inventory;uid=root;pwd=god" providerName="MySql.Data.MySqlClient"/>
    <add name="SessionConString" connectionString="server=127.0.0.1;database=inventory;uid=root;pwd=god" providerName="MySql.Data.MySqlClient"/>
    <add name="ElmahConString" connectionString="server=127.0.0.1;database=elmah;uid=root;pwd=god"/>
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <!--Statuses-->
    <!--By default-->
    <add key="InProcess" value="1"/>
    <!--Manager approval pending-->
    <add key="MgrApproval" value="2"/>
    <!--Status Id For Email-->
    <add key="SIdEmail" value="2"/>
    <!-- EMail Setting-->
    <add key="FromEmail" value="vs00saini@gmail.com"/>
    <add key="FromName" value="Oims email system"/>
    <add key="SmtpUsername" value="vs00saini@gmail.com"/>
    <add key="SmtpPassword" value="vcezumlsarynjcby"/>
    <add key="SmtpHost" value="smtp.gmail.com"/>
    <add key="SmtpPort" value="587"/>
    <add key="EnableSSL" value="true"/>
    <!-- End EMail Setting-->
    <add key="elmah.mvc.disableHandler" value="false"/>
    <add key="elmah.mvc.disableHandleErrorFilter" value="false"/>
    <add key="elmah.mvc.requiresAuthentication" value="false"/>
    <add key="elmah.mvc.IgnoreDefaultRoute" value="false"/>
    <add key="elmah.mvc.allowedRoles" value="*"/>
    <add key="elmah.mvc.allowedUsers" value="*"/>
    <add key="elmah.mvc.route" value="elmah"/>
  </appSettings>
  <system.web>
    <!--To fix HTTP Error 404.15-->
    <httpRuntime targetFramework="4.5" maxQueryStringLength="32768" maxUrlLength="65536"/>
    <compilation targetFramework="4.5" debug="true">
      <assemblies>
        <add assembly="DevExpress.Data.v13.2"/>
        <add assembly="DevExpress.Web.v13.2"/>
        <add assembly="DevExpress.Web.ASPxHtmlEditor.v13.2"/>
        <add assembly="DevExpress.Web.ASPxSpellChecker.v13.2"/>
        <add assembly="DevExpress.Web.ASPxTreeList.v13.2"/>
        <add assembly="DevExpress.Web.ASPxPivotGrid.v13.2"/>
        <add assembly="DevExpress.Utils.v13.2"/>
        <add assembly="DevExpress.Web.Mvc.v13.2"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880"/>
    </authentication>
    <caching>
      <outputCache enableOutputCache="true"/>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="CacheForDay" duration="86400" varyByParam="*" location="Server"/>
          <add name="SearchCache" duration="30" varyByParam="searchTerm" location="Client"/>
          <add name="CacheForMinute" duration="60" location="Client"/>
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Optimization"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
        <add namespace="DevExpress.Utils"/>
        <add namespace="DevExpress.Web.ASPxClasses"/>
        <add namespace="DevExpress.Web.ASPxGridView"/>
        <add namespace="DevExpress.Web.ASPxGridView.Export"/>
        <add namespace="DevExpress.Web.ASPxEditors"/>
        <add namespace="DevExpress.Web.ASPxCallbackPanel"/>
        <add namespace="DevExpress.Web.ASPxDataView"/>
        <add namespace="DevExpress.Web.ASPxDocking"/>
        <add namespace="DevExpress.Web.ASPxMenu"/>
        <add namespace="DevExpress.Web.ASPxNavBar"/>
        <add namespace="DevExpress.Web.ASPxPopupControl"/>
        <add namespace="DevExpress.Web.ASPxRoundPanel"/>
        <add namespace="DevExpress.Web.ASPxSplitter"/>
        <add namespace="DevExpress.Web.ASPxTabControl"/>
        <add namespace="DevExpress.Web.ASPxTreeView"/>
        <add namespace="DevExpress.Web.ASPxFileManager"/>
        <add namespace="DevExpress.Web.ASPxImageSlider"/>
        <add namespace="DevExpress.Web.ASPxUploadControl"/>
        <add namespace="DevExpress.Web.ASPxHtmlEditor"/>
        <add namespace="DevExpress.XtraReports"/>
        <add namespace="DevExpress.XtraReports.UI"/>
        <add namespace="DevExpress.Web.Mvc"/>
        <add namespace="DevExpress.Web.Mvc.UI"/>
      </namespaces>
    </pages>
    <httpHandlers>
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule" verb="GET" path="DX.ashx" validate="false"/>
    </httpHandlers>
    <httpModules>
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule" name="ASPxHttpHandlerModule"/>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah"/>
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah"/>
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah"/>
    </httpModules>
    <sessionState mode="Custom" cookieless="false" regenerateExpiredSessionId="true" timeout="20" customProvider="MySqlSessionStateProvider">
      <providers>
        <add name="MySqlSessionStateProvider" type="MySql.Web.SessionState.MySqlSessionStateStore, MySql.Web, Version=6.8.3.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" applicationName="/oims" description="Online Inventory Management System" connectionStringName="SessionConString" writeExceptionsToEventLog="True" autogenerateschema="True"/>
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <!--To fix HTTP Error 404.15-->
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="32768"/>
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"/>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule" verb="GET" name="ASPxHttpHandlerModule" path="DX.ashx" preCondition="integratedMode"/>
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule" name="ASPxHttpHandlerModule"/>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler"/>
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler"/>
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler"/>
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d"/>
        <bindingRedirect oldVersion="0.0.0.0-6.8.3.0" newVersion="6.8.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <devExpress>
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true"/>
    <settings doctypeMode="Html5" rightToLeft="false"/>
    <errors callbackErrorRedirectUrl=""/>
  </devExpress>
  <elmah>
    <security allowRemoteAccess="false"/>
    <errorLog type="Elmah.MySqlErrorLog, Elmah" connectionStringName="ElmahConString"/>
  </elmah>
</configuration>